[submodule "heritage"]
	path = heritage
	url = https://github.com/berkeley-linux/heritage
[submodule "musl-fts"]
	path = musl-fts
	url = https://github.com/void-linux/musl-fts
[submodule "sysvinit"]
	path = sysvinit
	url = https://github.com/slicer69/sysvinit
[submodule "pdksh"]
	path = pdksh
	url = https://github.com/multishell/pdksh
	branch = ms_5.2.14
[submodule "vi"]
	path = vi
	url = https://github.com/berkeley-linux/vi
